# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=carcaredb

# Server Configuration
API_FRONT_URL=http://localhost:4200
API_BACK_URL=http://localhost:3000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FACEBOOK_CALLBACK_URL=

EMAIL_AUTHORIZATION=
EMAIL_FROM=
EMAIL_FROM_NAME=
EMAIL_TEMPLATE_UUID=
EMAIL_OTP_TEMPLATE_UUID=
URL_SENDER_EMAIL=https://email-api.thaibulksms.com/email/v1/send_template
URL_OTP_EMAIL=https://email-api.thaibulksms.com/email/v1/otp/send
URL_VERIFY_EMAIL=https://email-api.thaibulksms.com/email/v1/otp/verify

SLIPOK_URL=
SLIPOK_SECRET_KEY=
PROMPTPAY_ACCOUNT=

PORT=3000
